<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Jugador</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/form_styles.css' %}">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="logo-container">
                <img src="{% static 'images/logoc.png' %}" alt="Logo" class="logo">
            </div>
            <h1>{{ form.instance.pk|yesno:"Editar Jugador,Crear Jugador" }}</h1>
        </div>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}

            <h2>Subir PDFs:</h2>
            
            <!-- Aquí incluimos los campos ocultos necesarios para el formset -->
            {{ formset.management_form }}
            
            {% for form in formset %}
                <div class="pdf-form">
                    <label for="{{ form.prefix }}_file" style="color: #000000;">Archivo PDF:</label>
                    {{ form.file }}
                    {% if form.instance.pk %}
                        <div class="pdf-actions" style="color: #000000;">
                            <input type="checkbox" id="{{ form.prefix }}_DELETE" name="{{ form.prefix }}_DELETE" style="margin-right: 10px;">
                            <label for="{{ form.prefix }}_DELETE" style="color: #000000;">Eliminar PDF</label>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}

            <button type="submit">Guardar</button>
        </form>

        <a href="{% url 'player_list' %}" class="back-link">Volver al listado</a>
    </div>
</body>
</html>
